<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}" style="color:#080084;">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <a href="https://www.linkedin.com/in/margot-rysman-6479273a0/"> 
          <img src="images/Profile.png" alt="Profile Picture" style="width:100px;height:auto"> 
        </a>
        <p class="view"><a href="https://www.linkedin.com/in/margot-rysman-6479273a0/" style="color:#080084;">View my LinkedIn </a></p>

        <br>
        <br>
        <h3>Navigation</h3>
        0. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman"><b>Home</b></a> <br>
        1. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/#projects"><b>Projects</b></a> <br>
        &emsp;1.1. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/Plonze">Plonze</a> <br>
        2. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/#skills"><b>Skills</b></a> <br>
        &emsp;2.1. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/Photography">Photography</a> <br>
        &emsp;2.2. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/Rendering">Rendering</a> <br>
        &emsp;2.3. <a style="color:Black;" href="https://rysmanmargot.github.io/Portfolio-Margot-Rysman/Systems_thinking">Systems thinking</a>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is programmed and maintained by <a href="{{ site.github.owner_url }}" style="color:#080084;">Margot Rysman</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
